* text eol=lf
*.input binary
*.pdf binary

*.c linguist-language=C
*.h linguist-language=C
*.s linguist-language=Assembly

*.nuj linguist-language=Scheme
*.no linguist-generated

vendor/** linguist-vendored=true
tools/** linguist-vendored=true
web/** linguist-vendored=true
benchmark/** linguist-vendored=true
third-party/** linguist-vendored=true
bootstrap/** linguist-vendored=true

Nujel.sln	text	eol=crlf
Nujel.vcxproj*	text	eol=crlf
