# OSX Files
Icon?
.DS_Store
._*
xcuserdata/
*.xcscmblueprint
*.xccheckout
/DerivedData/
.vscode/

# debugging/profiling data
/callgrind.out.*
/vgcore.*
gmon.out

# Executables/Object/Temporary files
/tmp
/nujel
/nujel-bootstrap
/tools/assets
*.out
*.a
*.com
*.dbg
*.lib
*.so
*.o
/bin/lib/*.no
/stdlib/*.no
*.wd
*.wa
*.wo
*.d
*.deps
*.gch
*.obj
*.dylib
*.exe
*.kate-swp
*.dll
*.core
*.res
*.dSYM
*.tar.xz
*.tar.gz

/bootstrap/stdlib.c
/bootstrap/stdlib.h
/bootstrap/binlib.c
/bootstrap/binlib.h
