* text eol=lf
*.input binary

*.c linguist-language=C
*.h linguist-language=C
*.s linguist-language=Assembly

*.nuj linguist-language=Scheme
*.no linguist-generated

vendor/** linguist-vendored=true
tools/** linguist-vendored=true
web/** linguist-vendored=true
benchmark/** linguist-vendored=true