* text eol=lf
*.input binary

*.c linguist-language=C
*.h linguist-language=C
*.s linguist-language=Assembly
*.nuj linguist-language=Lisp

vendor/ linguist-vendored
tools/ linguist-vendored
web/ linguist-vendored