# OSX Files
Icon?
.DS_Store
._*
xcuserdata/
*.xcscmblueprint
*.xccheckout
/DerivedData/
.vscode/

# debugging/profiling data
/callgrind.out.*
/vgcore.*
gmon.out

# Executables/Object/Temporary files
/tmp
/fuzz-nujel
/nujel
/nujel-bootstrap
/future-nujel
/tools/emsdk
*.out
*.a
*.com
*.dbg
*.lib
*.so
*.o
*.err
/stdlib/**/*.no
/stdlib_modules/**/*.no
/binlib/**/*.no
/tests/**/*.no
*.wd
*.wa
*.wo
*.d
*.deps
*.gch
*.obj
*.err
*.dylib
*.exe
*.kate-swp
*.dll
*.core
*.res
*.dSYM
*.tar.xz
*.tar.gz

/nujel.c
/nujel.h

/web/index.js
/web/index.html
/web/index.wasm
/web/index.wasm
/.vs

/web/filesystem.json
/web/benchmark-results/
/web/report-data.js

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
