.nujel-editor-title {
	background: #161616;
	font-size:0.8em;
	color: #abb2bf;
	line-height:1rem;
}

.nujel-editor-title-crumbs {
	font-family: monospace, mono;
	font-size:1.2em;
	display:inline-block;
	padding:0.25rem 0.5rem;
}

.nujel-editor-content {
	background: #1f1f1f;
	transition: background-color 400ms;
}

.visual-bell {
	transition:none !important;
	background-color: #1e2038 !important;
}
