.nujel-editor-title-folder {
	display:inline-block;
	background:#007acc;
	cursor:pointer;
	padding:0 1em;
	line-height:1.5rem;
}

.nujel-editor-title-folder::before {
	content: '📁';
	font-size:1rem;
}

.nujel-filebrowser-buffer {
	padding:0.1rem 0;
	cursor:pointer;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	box-sizing: border-box;
	user-select: none;
	background:#161616;
	display:block;
	transition:background-color 350ms;
}

.nujel-filebrowser-buffer::before {
	content:'🗋';
	display:inline-block;
	margin-right:0.5rem;
	text-align:center;
	width:1.6rem;
}

.nujel-filebrowser-directory {
	background:#161616;
	display:block;
	transition:background-color 350ms;
}

.nujel-filebrowser-directory-title {
	display:block;
	cursor:pointer;
	user-select:none;
	padding:0.1rem 0;
}

.nujel-filebrowser-directory-children {
	display:none;
	padding-left:0.5rem;
}

.nujel-filebrowser-directory-children.active {
	display:block;
}

.nujel-filebrowser-directory-title::before {
	content: '📁';
	display:inline-block;
	margin-right:0.5rem;
	text-align:center;
	width:1.6rem;
}

.nujel-filebrowser-directory-title.active::before {
	content: '📂';
}

.nujel-filebrowser-buffer.active {
	color:#007acc;
}

.nujel-filebrowser-titlebar {
	font-family: JetBrains Mono, Terminus, Consolas, monospace, mono;
	line-height:1.5rem;
	border-bottom:solid 1px #007acc;
	display:block;
	padding:0 0.25rem;
	box-sizing:border-box;
	margin-bottom:0.25rem;
}

.nujel-filebrowser-files {
	scrollbar-width: auto;
	scrollbar-color: #2e2e2e #1f1f1f;
	overflow-y: scroll;
	height:calc(100% - 1.5rem - 1px);
	width:100%;
	position: absolute;
	left: 0;
	top: calc(1.5rem + 1px);
}

.nujel-filebrowser-files::-webkit-scrollbar {
	width: 1rem;
}

.nujel-filebrowser-files::-webkit-scrollbar-track {
	background: #1f1f1f;
}

.nujel-filebrowser-files::-webkit-scrollbar-thumb {
	background-color:#2e2e2e;
	border: none;
}

.nujel-filebrowser-buffer::after,
.nujel-filebrowser-directory:;after {
	content:'';
	clear:both;
	position:relative;
}

.filebrowser-actions {
	float:right;
	text-align:left;
}

.filebrowser-actions > * {
	margin-left:0.2rem;
}

.filebrowser-delete {
	font-size:0;
	display:inline-block;
	cursor:pointer;
}

.filebrowser-delete::before {
	content: '×';
	color:#e06c75;
	font-size:1rem;
}

.filebrowser-eval {
	font-size:0;
	display:inline-block;
	cursor:pointer;
}

.filebrowser-eval::before {
	content: '▷';
	color:#98c379;
	font-size:1rem;
}
