body,html {
	color:#def;
	background:#201c1a;
	padding: 0px;
	margin: 0px;
	border: none;
	min-height:100%;
	height:100%;
	display:block;
	overflow:hidden;
	position:relative;
}

.nujel-repl-wrapper {
	height:100%;
	background:#282c34;
	position:relative;
}

.nujel-repl {
	width:100%;
	color:#abb2bf;
	border:none;
	box-sizing:border-box;
	white-space:pre;
	font-family: JetBrains Mono, Terminus, Consolas, monospace, mono;
	outline:none;
}

.nujel-repl-wrapper::after,
.nujel-repl-wrapper::before {
	content:"λ";
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	display:block;
	opacity:0.02;
	z-index:0;
	font-size:80vh;
	color:#00f;
	margin-left:-1vw;
}

.nujel-repl-wrapper::after {
	color:#f00;
	margin-left:1vw;
}

.nujel-repl-buffer {
	background:transparent;
	height:auto;
	padding:0 0 2rem 0;
	z-index:0;
	max-height:100%;
	position:absolute;
	bottom:0;
	left:0;
	overflow:auto;

	width:100%;
	color:#abb2bf;
	border:none;
	box-sizing:border-box;
	font-family: JetBrains Mono, Terminus, Consolas, monospace, mono;
}

.nujel-repl-input {
	background:#0002;
	color:#678;
	padding: 0 0.25em;
	font-size:1rem;
	white-space:nowrap;
}

.nujel-repl-line {
	padding: 0 0.25em;
	font-size:1rem;
	white-space:nowrap;
}

input.nujel-repl {
	height:2em;
	line-height:1.35em;
	padding:0 0.25em;
	background:#383e4a;
	color:#f8f8f0;
	position:absolute;
	bottom:0;
	left:0;
	z-index:1;
	font-size:1rem;
	font-family: JetBrains Mono, Terminus, Consolas, monospace, mono;
}

ansi-seq[ansi-fg="0"] {color:#2d3139;}
ansi-seq[ansi-fg="1"] {color:#e06c75;}
ansi-seq[ansi-fg="2"] {color:#98c379;}
ansi-seq[ansi-fg="3"] {color:#e5c07b;}
ansi-seq[ansi-fg="4"] {color:#528bff;}
ansi-seq[ansi-fg="5"] {color:#c678dd;}
ansi-seq[ansi-fg="6"] {color:#56b6c2;}
ansi-seq[ansi-fg="7"] {color:#d7dae0;}
ansi-seq[ansi-fg="0"][ansi-bold] {color:#7f848e;}
ansi-seq[ansi-fg="1"][ansi-bold] {color:#f44747;}
ansi-seq[ansi-fg="2"][ansi-bold] {color:#98c379;}
ansi-seq[ansi-fg="3"][ansi-bold] {color:#e5c07b;}
ansi-seq[ansi-fg="4"][ansi-bold] {color:#528bff;}
ansi-seq[ansi-fg="5"][ansi-bold] {color:#7e0097;}
ansi-seq[ansi-fg="6"][ansi-bold] {color:#56b6c2;}
ansi-seq[ansi-fg="7"][ansi-bold] {color:#d7dae0;}
ansi-seq[ansi-bg="0"] {background-color:#2d3139;}
ansi-seq[ansi-bg="1"] {background-color:#e06c75;}
ansi-seq[ansi-bg="2"] {background-color:#98c379;}
ansi-seq[ansi-bg="3"] {background-color:#e5c07b;}
ansi-seq[ansi-bg="4"] {background-color:#528bff;}
ansi-seq[ansi-bg="5"] {background-color:#c678dd;}
ansi-seq[ansi-bg="6"] {background-color:#56b6c2;}
ansi-seq[ansi-bg="7"] {background-color:#d7dae0;}