.two-col > * {
	float:left;
	width:49%;
}
.two-col > *:nth-child(even) {
	float:right;
}
.two-col::after {
	content:'';
	clear:both;
        display:block;
        position:relative;
}

h1 {
	text-align:center;
	display:block;
	font-size:3em;
	font-family:'Courier New', Courier, monospace;
}

h2 {
	text-align:center;
	display:block;
	font-size:2em;
	font-family:'Courier New', Courier, monospace;
}
